@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "GOTHAM ROUNDED BOLD";
  src: url("../src/assets/fonts/GothamRounded-Bold.otf");
}
@font-face {
  font-family: "GOTHAM ROUNDED";
  src: url("../src/assets/fonts/GothamRounded-Book.otf");
}